.trending__heading {
  display: inline-block;
  padding-block: 1.2rem;
  font-size: 3rem;
  font-weight: 600;
}

.hero {
  display: flex;
  min-height: 70vh;
  color: var(--hero-clr);
  background-color: var(--hero-bg);

  &__image {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    padding: 6rem;
  }

  &__details {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }
}

.details__wrapper {
  width: 100%;
  padding-inline: 3rem;
}
