.wrapper {
  &::after {
    content: "";
    display: block;
    height: 1px;
    margin-top: 1.5rem;
    background-color: var(--canvas-text);
    border-radius: 1em;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }
  }
}
