.wrapper {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }
  }
}
