.wrapper {
  &::after {
    content: "";
    display: block;
    height: 1px;
    margin-top: 1.4rem;
    background-color: var(--canvas-text);
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav__left {
      display: flex;
      flex-direction: row;
      gap: 4rem;

      align-items: center;
      justify-content: space-between;
    }

    ul {
      display: flex;
      gap: 1.3rem;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }
  }
}
