.wrapper {
  display: flex;
}

.image__wrapper {
  position: relative;
  flex-basis: 70%;
  justify-content: center;

  .image {
    position: sticky;
    top: 26%;
    display: flex;
    justify-content: center;
    margin-top: 14%;
  }
}

.details__wrapper {
  flex-basis: 30%;
  padding: 2rem;
  border-left: 1px solid hsl(240deg 6% 80%);

  .header {
    &::after {
      content: "";
      display: block;
      height: 1px;
      margin-top: 2rem;
      background-color: hsl(240deg 6% 80%);
    }
  }
}

.buttons {
  display: flex;
  gap: 0.4rem;
  margin-block: 3rem;
  padding-block: 2rem;

  button {
    flex-basis: 100%;
    padding-block: 1.2rem;
    text-align: center;
  }
}

.description {
  &::after {
    content: "";
    display: block;
    height: 1px;
    margin-top: 2rem;
    background-color: hsl(240deg 6% 80%);
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.details {
  margin-block: 2rem;

  h2 {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.detail {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 1px solid hsl(240deg 6% 80%);

  p {
    padding-block: 1rem;
  }
}
