// Tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Sass
@import "./reset";
@import "./variables";
@import "./elements";
@import "./utils";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

:root {
  --canvas: #{$clr-bw-900};
  --canvas-text: #{$clr-bw-300};
  --hero-bg: hsl(240deg 6% 78%);
  --hero-clr: #{$clr-bw-900};
  --card-bg: #141d2b;
}

[data-theme="light"] {
  --canvas: #{$clr-bw-300};
  --canvas-text: #{$clr-bw-900};
  --primary-btn-clr: #{$clr-bw-300};
  --primary-btn-bg: #{$clr-bw-900};
  --hero-bg: hsl(240deg 6% 78%);
  --hero-clr: #{$clr-bw-900};
  --card-bg: #141d2b;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
