.heading {
  font-size: 4rem;
  font-weight: bold;

  &::after {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 2rem;
    background-color: hsl(240deg 6% 80%);
  }
}

.auction {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;

  .card {
    grid-column: span 2;
    padding: 1rem;
    color: var(--canvas);
    background-color: #141d2b;

    img {
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    &__details {
      display: flex;
      flex-direction: column;
    }

    &__available {
      margin-block: 1rem;
      color: lightgreen;
    }
  }
}
